body
{
  width: 25%;
  margin: 20px auto;
}
main
{
  background-color: lightyellow;
  padding: 20px 0px;
}
main h1
{
  text-align: center;
}
table
{
  margin: 30px auto;
}
input[type=text], input[type=password]
{
  background-color: lightgray;
  border-radius: 15px;
}
