.foto
{
  border-radius: 10px;
  width: 70%;
  box-shadow: 0 0 5px 5px white;
}
.kiitos
{
  background-image: url("money.gif");
  color: red;
  width: 30%;
  padding: 3px;
  margin: 50px;
  box-sizing: border-box;
}
.lomakewrapper
{

  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  border: 5px solid #554900;
  border-radius: 20px;
  width: 430px;
  background-color: #FFF3AA;
}
.oikea
{
  text-align: right;
}
textarea
{
    resize: none;
}
h1, h2
{
  text-align: center;
}
