
body
{
  background-color: #758DC3;
}

img
{


  width: 15rem;
  height: 15rem;
  padding: 1.50rem;
  border-radius: 20%;

}

  table
{
    margin: 0 auto;
    margin-top: 2.5rem;
    background-color: lightblue;
}
figcaption
{
  text-align: center;
}
img:hover
{
  
  transform: scale(1.4);
  clip-path: polygon(0% 0%, 0% 100%, 100% 50% );
  border-radius: 0%;
}
